@page "/devices"
@using Kamiizumi.NetworkDeviceScanner.Data.Models
@using Microsoft.EntityFrameworkCore
@inject Kamiizumi.NetworkDeviceScanner.Data.NetworkDeviceScannerContext NetworkDeviceScannerContext
@inject Kamiizumi.NetworkDeviceScanner.Services.DeviceService DeviceService

<h1>Devices</h1>

<table class="table">
    <thead>
        <tr>
            <th>MAC Address</th>
            <th>Profile</th>
            <th>User Defined Name</th>
            <th>Last IP Address</th>
            <th>Last Host Name</th>
            <th>Last Seen</th>
        </tr>
    </thead>

    <tbody>
        @if (devices == null)
        {
            <tr>
                <td colspan="5">Loading...</td>
            </tr>
        }
        else if (devices.Any() == false)
        {
            <tr>
                <td colspan="5">No devices found</td>
            </tr>
        }
        else
        {
            foreach (var device in devices)
            {
                <tr>
                    <td>@device.MacAddress</td>
                    <td>
                        <select class="form-control" onchange="@((e) => SetProfile(e, device.MacAddress))">
                            <option></option>
                            @foreach(var profile in NetworkDeviceScannerContext.Profiles)
                            {
                                var isSelected = device.Profile?.Id == profile.Id;

                                <option value="@profile.Id" selected="@isSelected">
                                    @profile.Name
                                </option>
                            }
                        </select>
                    </td>
                    <td>@device.UserDefinedName</td>
                    <td>@device.LastSeenIp</td>
                    <td>@device.LastSeenHostName</td>
                    <td>@device.LastSeenAt</td>
                </tr>
            }
        }
    </tbody>
</table>

@functions
{
    IEnumerable<Device> devices;

    protected override async Task OnInitAsync()
    {
        devices = NetworkDeviceScannerContext.Devices.Include(a => a.Profile).OrderBy(a => a.UserDefinedName);
    }

    private void SetProfile(UIChangeEventArgs ev, string macAddress)
    {
        DeviceService.SetProfile(macAddress, Convert.ToInt32(ev.Value));
    }
}