@page "/devices"
@using Kamiizumi.NetworkDeviceScanner.Data.Models
@inject Kamiizumi.NetworkDeviceScanner.Data.NetworkDeviceScannerContext NetworkDeviceScannerContext

<h1>Devices</h1>

<table class="table">
    <thead>
        <tr>
            <th>MAC Address</th>
            <th>User Defined Name</th>
            <th>Last IP Address</th>
            <th>Last Host Name</th>
            <th>Last Seen</th>
        </tr>
    </thead>

    <tbody>
        @if (devices == null)
        {
            <tr>
                <td colspan="5">Loading...</td>
            </tr>
        }
        else if (devices.Any() == false)
        {
            <tr>
                <td colspan="5">No devices found</td>
            </tr>
        }
        else
        {
            foreach (var device in devices)
            {
                <tr>
                    <td>@device.MacAddress</td>
                    <td>@device.UserDefinedName</td>
                    <td>@device.LastSeenIp</td>
                    <td>@device.LastSeenHostName</td>
                    <td>@device.LastSeenAt</td>
                </tr>
            }
        }
    </tbody>
</table>

@functions
{
    IEnumerable<Device> devices;

    protected override async Task OnInitAsync()
    {
        devices = NetworkDeviceScannerContext.Devices.OrderBy(a => a.UserDefinedName);
    }
}